<div class="container-fluid resources">
  
    <h2>About us</h2>
    <p><%= data.content.history_pt1 %></p>
    
    <ul>
      <% data.content.history_pt2.each do |f| %>
      <li><%= f %></li>
      <% end %>
    </ul>  
    
    <p><%= data.content.history_pt3 %></p>
    
    <h2>Meet the team</h2>
    
    <div class="team-bio">
      <ul>
      <% data.content.team.each do |m| %>
        <li>
          <img src="../images/<%= m.image %>.jpg" alt="Photo of <%= m.name %>" class="img-responsive">
          <h3 class="bio"> <%= m.name %> </h3>  
          <p> <%= m.description %> </p>
        </li>
      <% end %>
      </ul>
    </div>  
    
     

</div>
