<div class="container-fluid resources">
    <h2>News</h2>
    <p><%= data.content.newsblurb %></p>

    <h3>Press Release </h3>
    
    <li><%= link_to 'Applying Technology to Bridge Income Inequality', '/adt_news4.pdf', :target => '_blank' %></li>
    
     <h3>News Articles</h3>
     
     <ul>
      <li><%= link_to 'Bridge the Digital Divide', '/adt_news1.pdf', :target => '_blank' %></li>
      <li><%= link_to 'Front Page Article from the Houston Chronicle', '/adt_news2.pdf', :target => '_blank' %></li>
      <li><%= link_to 'ADTinc Mission in Action', '/adt_news3.pdf', :target => '_blank' %></li>
     </ul>
    
    <h3>Technology Summer Camp</h3>
    &nbsp;
    <div class="row">
     
     <div class="col-md-3">
      <img src="../images/drone.jpg" alt="instructor showing drone" class="img-responsive">
     </div>
      
     <div class="col-md-3">
      <img src="../images/mayor.jpg" alt="mayor Turner and campers" class="img-responsive">
     </div>
     
     <div class="col-md-3">
      <img src="../images/summercamp.jpg" alt="campers participating in an activity" class="img-responsive">
     </div>
     
     </div>
</div>
